<div class="bg-primary pt-5 h-100vh">
    <div class="bg-yellow text-center">
        <h2 class="pt-2 pb-2"><%= @plan.start_time %></h2>
    </div>
    <div class="text-center container bg-white mt-5 pb-5">
        <p class="show__name"><%= @plan.name %></p>
        <p class="show__place">@<%= placeToString @plan.place %></p>
        <p class="show__title"><%= titleToString @plan.title %></p>
        <p class="show__content"><%= @plan.content %></p>
        <% if logged_in? && current_user.id == @plan.user_id %>
        <div class="d-flex justify-center">
            <%= link_to '更新', edit_plan_path(@plan.id), class: 'btn__half btn__update' %>
            <%= button_to '削除', plan_path(@plan.id), class: 'btn__half btn__delete', method: :delete %>
        </div> 
        <% end %>
        <% if logged_in_as_teacher? && current_teacher.id == @plan.teacher_id %>
        <div class="d-flex justify-center">
            <%= form_with url: cancel_plan_path(@plan.id) do |f| %>
            <%= f.submit 'キャンセル', class: 'btn btn__delete' %>
            <% end %>
        </div> 
        <% end %>
    </div>
</div>